<h2 class="text-center m-4">System Usage Statistics as of <%= Time.now.strftime("%Y-%m-%d %H:%M") %></h2>

<div class="card mt-4 mx-auto border-info shadow" style="width: 65rem;">
  <div class="card-header bg-info text-white fw-bold fs-5">Patient Sign-Up Records</div>
  <div class="card-body pt-2">
    <table class="table table-sm table-striped custom-table mb-0">
      <thead class="table-info">
        <tr class="text-center">
          <th>Patient Name</th>
          <th>Username</th>
          <th>Created by</th>
          <th>Sign-up Date</th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
  </div>
</div>