<div class="row justify-content-center my-3">
  <div class="col-md-6 border-lg border-priimary rounded-pill pt-3 pb-3 bg-warning shadow-sm">
    <%= search_form_for q, url: url, method: :get, class: "d-flex gap-2 align-items-center" do |f| %>
      <%= f.search_field search_key, 
                         placeholder: "Search by patient's name...", 
                         class: "form-control form-control-sm rounded-pill border-secondary px-3 fs-5 shadow-sm" %>
      <%= f.submit "Search", class: "btn btn-sm btn-success rounded-pill px-4 fs-5 fw-bold shadow-sm" %>
      <%= link_to "Clear", url, class: "btn btn-sm btn-link text-muted text-decoration-none fw-bold" %>
    <% end %>
  </div>
</div>