<div class="d-flex flex-column justify-content-center align-items-center h-100 text-center" style="min-height: calc(100vh - 100px);">
  <div class="bg-white bg-opacity-25 rounded-3 shadow-lg px-3 py-5 mb-5 bg-body">
    <h1 class="display-4 fw-bold text-danger mb-4 text-shadow-custom" style="color: #2c3e50;">Welcome to Zhang's Acupuncture</h1>
    <h2 class="display-6 text-danger text-shadow-custom">Traditional Chinese Medical Treatment and Medicine</h2>
    
    <% if authenticated? %>
      <div class="mt-4">
        <%= link_to "Go to Patient List", regis_path, class: "btn btn-lg btn-info rounded-pill border border-dark border-3 fw-bold px-5 shadow" %>
      </div>
    <% end %>
  </div>
</div>